a {color: rgb(88,188,142); text-decoration: none; font-weight:bold;}
a:hover {text-decoration:underline;}
a.hash {color: rgb(23,220,123);}
p.revreply a {color: rgb(45,79,4); text-decoration: none; font-weight:bold;}
b.hi{color:rgb(210, 116, 34);}
i{color:rgb(23,220,123);}